.toolbar-container {
  max-width: 90%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 10%;

  background-color: lightseagreen;
}

.buttons-container {
  display: flex;
  gap: min(20px, 10%);
  flex-wrap: wrap;
  margin-top: -10px;
  width: 45%;

  align-items: center;

}

.slider-container{
  width: 45%;
  display: flex;
}

#elements-slider, #speed-slider {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.label {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.placeholder {
  height: 50px;
}

button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;

  color: #FFFFFF;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;

  line-height: 20px;

  margin: 0;
  outline: none;
  padding: 10px 16px;

  text-align: center;
  text-decoration: none;
  transition: color 100ms;

  touch-action: manipulation;

  margin-top: 10px;
  max-height: 50px;

  font-family: inherit;

}

button:hover {
  background-color: #F082AC;
}

