.array-container {
  max-width: 90%;
  margin: auto;
  padding: 0;

  height: 80vh;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-color: lightgrey;
}

.array-bar {
  background-color: #EA4C89;
  margin: 0;
  padding: 0;
  border: 0px solid black;
}