.bar-array-container {
  height: 70vh;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-color: lightgrey;
  border: 2px solid black;
}

.array-bar {
  background-color: #EA4C89;
  margin: 0;
  padding: 0;
  border: 0px solid black;
}

.cell-array-container {
  height: 70vh;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: lightgrey;
  border: 2px solid black;
}

.main-array {
  width: 100%;
  margin: max(3%, 10px) 0;
}

.cell-array {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.cell-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid black;

  text-align: center; 

  font-size: min(40px, 3.5vw);
  font-weight: bold;
  color: white;
}

/* Prevents double border */
.cell-box + .cell-box {
  margin-left: -3px;
}

.auxillary {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.levels {
  display: flex;
  flex-direction: row;
}