.bar-array-container {
  height: 65vh;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-color: lightgrey;
}

.array-bar {
  background-color: #EA4C89;
  margin: 0;
  padding: 0;
  border: 0px solid black;
}

.cell-array-container {
  height: 65vh;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: lightgrey;
}

.cell-box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid black;

  text-align: center; 

  font-size: min(40px, 3.5vw);
  font-weight: bold;
}

/* Prevents double border */
.cell-box + .cell-box {
  margin-left: -3px;
}