.App-body {
  margin: 50px;
  margin-bottom: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .App-body {
    margin: 20px;
  }
}

.App-body .header {
  padding-left: 5%;
  padding: 0 5%;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.App-body h1{
  color: #b79147; 
}

.view-button {
  padding-left: 5%;
  padding: 0 5%;

  display: flex;
  justify-content: flex-end;
}

#view-state-display {
  padding: 1%;
  margin: 1%;
  color: #b79147;
  font-size: 20px;
  font-weight: 500;
  /* background-color: #b79147; */
  border-radius: 20%;
  background-color: aliceblue;
}

.display-body {
  max-width: 90%;
  padding: 0px;
  padding-bottom: 0px;
  margin: auto;
  box-sizing: border-box;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  background-color: #333;
}

.github-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.footer-text {
  color: white;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-logo {
  max-width: 18px;
  max-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  height: inherit;
}